{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="header">
  <img src="{% static 'images/logo.jpg' %}">
  <span class="title">Campus<span>Guide</span></span>
</div>

<div class="container">

<form class="login-form" method="post">
{% csrf_token %}

<h2>Reset Password</h2>
<p>Enter your email to receive reset link</p>

<input type="email" name="email" placeholder="Enter Email" required>

<button type="submit">Send Reset Link</button>

</form>

<div class="robot">
<img src="{% static 'images/back2.jpeg' %}">
</div>

</div>

</body>
</html>